/* error */
#xflickr-error {
    position: fixed; bottom: 0; right: 0;
    z-index: 999;
    width: 100%;
}

#xflickr-error a {
    color: black;
    text-decoration: none;
}

#xflickr-error a:hover {
    text-decoration: underline;
}

#xflickr-error .close {
    float: right;
    color: black;
    font-size: 10px;
    vertical-align: middle;
}

#xflickr-error .content {
    padding: 0 4em 1em;
    width: 100%;
    text-align: center;
    clear: both;
    float: left;
    margin: 0 auto;
}
#xflickr-error br.clear {
    clear: both;
}
